<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

   <!-- snake_case(DB) to camelCase(Java) -->
   <settings>
      <setting name="mapUnderscoreToCamelCase" value="true"/>
   </settings>
   
   <!-- domain.Board(type) to Board(alias) -->
   <typeAliases>
      <typeAlias type="com.gdu.app09.domain.BoardDTO" alias="Board"/>   <!-- 이것때문에 필드 이름에 _없애고 카멜케이스 사용 -->
   </typeAliases>

</configuration>