<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('목록')}"></head>
<body>
   <div>
   
   		<div th:replace="~(layout/header::body_title)"></div>
   		
   		<!--  
   			<h1>블로그 목록(전체 ${totalRecord}개)</h1>
   		-->
   		<h1 th:text="|블로그 목록(전체 ${totalRecord}개)|"></h1>
   		
   		<div>
   			<!-- href가 없을때의 경로변경 방법 :
   				input에 id를 주고, script 태그 안에 작성. -->
   			<input type="button" value="블로그 작성하기" id="btn_write">
   			
   			<script th:inline="javascript">
   			
   				$('#btn_write').click(function(){
   					location.href = '/blog/write';
   				});
   				
   			</script>
   		</div>
   		
   		<div>
   			<table border="1">
   				<thead>
	   				<tr>
	   					<td>순번</td>
	   					<td>제목</td>
	   					<td>조회수</td>
	   					<td>작성일</td>
	   				</tr>
   				</thead>
   				<tbody>
   					
   					<!-- Variable Expression : ${} -->
   					<!-- c:forEach대신 th:each 사용 -->
   					<!-- varStatus대신 rowStat을 사용 -->
   					<!-- 
   						<c:forEach items="${blogList}" var="blog" varStatus="vs">
   					-->
   					
   					<!-- 파라미터가 있는 링크 -->
   					<!-- ?대신 ()을 사용 -->
   					<!-- 
   						<td><a href="${contextPath}/blog/increse/hit?blogNo=${blog.blogNo}">${blog.title}</a></td>
   					-->
   					<!-- 
   						방법2:
   						<td><a th:href="@{/blog/increse/hit(blogNo=${blog.blogNo})}">${blog.title}</a></td>
   					-->
   					<!--  
   						파라미터가 2개일때 ,를 사용
   						((blogNo=${blog.blogNo})),((blogName=${blog.blogName}))
   					-->
   					
					<tr th:each="blog.vs:${blogList}">
						<td th:text="${beginNo - vs.index}"></td>
						<td><a th:href="@{/blog/increse/hit(blogNo=${blog.blogNo})}" th:text="${blog.title}"></a></td>
						<td th:text="${blog.hit}"></td>
						<td th:text="${blog.createDate}"></td>
					</tr>
   						
   				</tbody>
   				<tfoot>
   					<tr>
   						<!-- th:utext="HTML구성요소포함텍스트 ex)tag 등" -->
   						<td colspan="4" th:utext="${paging}"></td>
   					</tr>
   				</tfoot>
   			</table>
   		</div>
   		
   </div>
   
</body>
</html>